@keyframes blink0 {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink1 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }
}

@keyframes blink2 {
    60% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.account {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
}

.account h1, h2, h3, h4, a, span,button {
    color: white;
    font-family: 'Lobster', cursive;
}

.account  img{
    width:50px;
    height:50px;
}

.account > div{
    margin-right:5px;
}

/*Account h3 and h4 the same but can't comma separate?*/
.account h3 {
    font-size: 4.5vw;
    margin-bottom:5px;
}

.account h4 {
    font-size: 4.5vw;
    margin-top: 5px;
}

.account  > a{
    margin:auto;
    margin-left:5px;
    margin-right:5px;
    
}

.account > button {
    font-size:4vw;
    background-color:transparent;
    border:none;
    height:100%;
}

.account > span {
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.account__button{
    position:relative;
    width:30px;
    height:30px;
    margin:auto;
}


.account__button > img:nth-child(1) {
    opacity: 1;
}


.account__button > img:nth-child(2) {
    opacity: 0;
}


.account__button > img:nth-child(3) {
    opacity: 0;
}


.account__button:hover > img:nth-child(1) {
    animation: blink0 1.5s infinite;
}

.account__button:hover > img:nth-child(2) {
    animation: blink1 1.5s infinite;
}

.account__button:hover > img:nth-child(3) {
    animation: blink2 1.5s infinite;
}


.account__button > img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

@media (min-width:500px) {
    .account h3 {
        font-size: 3vw;
    }

    .account h4 {
        font-size: 2.5vw;
    }
    .account > button {
        font-size: 3vw;
    }
    
}

@media (min-width:800px) {
    .account h3 {
        font-size: 2vw;
    }

    .account h4 {
        font-size: 1.5vw;
    }
    .account > button {
        font-size: 2vw;
    }
}