.app {
  background-color: black;
  position:relative;
  min-height:100vh;
  text-align:center;
  overflow-x:hidden;
}
@keyframes moveIn{
    0%{
        left:-100%;
    }
    100% {
        left:5%;
    }
}

.app__header {
    position: fixed;
    top:10%;
    width: 90%;
    left:5%;
    height: 20vh;
    z-index: 100;
    margin: auto;
    opacity: 1;
    transition: opacity 2s;
    animation: moveIn 1s forwards;
}

.app__header > h1 {
    font-size: 10vw;
    color: white;
    font-family: 'Lobster', cursive;
}

.app__header > h2 {
    font-size: 8vw;
    color: white;
    font-family: 'Lobster', cursive;
}
