.app {
  background-color: black;
  position:relative;
  min-height:100vh;
  text-align:center;
}

.app__background{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:auto;
}

.app__blackBackground {
    position:absolute;
    opacity:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(-180deg, #C2B7FF 0%, #000000 100%);
    border: 1px solid #979797;
}


.app__header {
    position: relative;
    margin: auto;
    width: 90%;
    height: 20vh;
    z-index: 100;
    opacity: 1;
    transition: opacity 2s;
}

.splash--hidden {
    opacity: 0;
    transition: all 1s;
}


.app__header--invisible{
    opacity:0;
    transition: opacity 2s;
}

.app__cloudInfo {
}

.app__cloudInfo > div:nth-child(1){
    height:100vh;
}


@keyframes left {
    0%{
        transform:translate(0,0);
    }
    50%{
        transform:translate(-400px,0);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes right{
    0% {
        transform: translate(0,0);
    }

    50% {
        transform: translate(400px,0);
    }

    100% {
        transform: translate(0,0);
    }
}

.app__cloud--right{
    animation:right 100s;
}

.app__cloud--left{
    animation:left 100s;
}

.app__cloud--right--slow {
    animation: right 200s;
}

.app__cloud--left--slow {
    animation: left 200s;
}

