.app {
  background-color: black;
  position:relative;
  min-height:100vh;
  text-align:center;
  overflow-x:hidden;
}

.app__background{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:auto;
}

.app__header {
    position: relative;
    margin: auto;
    width: 90%;
    height: 20vh;
    z-index: 100;
    opacity: 1;
    transition: opacity 2s;
}

.splash--hidden {
    opacity: 0;
    transition: all 1s;
}

button{
    position:relative;
    top:300px;
    width:100px;
    height:100px;
    z-index:100;
    color:white;
}

.app__header--invisible{
    opacity:0;
    transition: opacity 2s;
}

@keyframes left{
    0%{
        transform:translate(0,0);
    }
    50%{
        transform:translate(-400px,0);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes right{
    0% {
        transform: translate(0,0);
    }

    50% {
        transform: translate(400px,0);
    }

    100% {
        transform: translate(0,0);
    }
}

.app__cloud--right{
    animation:right 100s;
}

.app__cloud--left{
    animation:left 100s;
}

.app__cloud--right--slow {
    animation: right 200s;
}

.app__cloud--left--slow {
    animation: left 200s;
}

