@keyframes inOut{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.asyncComponent > h2 {
    font-size: 50px;
    color: blue;
    font-family: 'Lobster', cursive;
    width: 100%;
    margin: 5px;
    text-shadow: 5px 5px 4px rgba(0,0,0,0.50);
    animation:inOut 2s infinite;
}
