.cloudInfo {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 1;
    transition:all 1s ease-in-out;
    text-align:center;
    margin:auto;
    z-index:100;
}

.cloudInfo--left {
    transform: translateX(-1000px);
}

.cloudInfo--right {
    transform: translateX(1000px);
}


.cloudInfo__text {
    position: absolute;
    display: flex;
    z-index: 10;
    width: 70%;
    left: 15%;
    top: 20%;
    height: 70%;
    justify-content: center;
    align-content: center;
    transition: all 1s ease-in-out;
    opacity: 1;
    z-index: 101;
}



.cloudInfo__table > h1 {
    font-family: Dosis-ExtraBold;
    font-size: 5vw;
    color: #2B20F6;
    text-align: center;
    margin: auto;
}

.cloudInfo__table > p {
    font-family: Dosis-ExtraBold;
    font-size: 3vw;
    text-align: center;
    margin-top:50px;
}


.cloudInfo__table >  button {
    background-image: radial-gradient(50% 222%, #1100BB 50%, rgba(7,0,133,0.35) 100%);
    border: 1px solid #979797;
    color:white;
}

.cloudInfo--absolute {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    opacity: 1;
    transition: all 0.25s ease-in-out;
}


.cloudInfo {
    width: 90vw;
    height:auto;
    left: 0;
    top: 0;
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

.cloudInfo--hide {
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    85% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.cloudInfo--flash {
    animation: flash 0.25s infinite;
}


.expand-enter {
    /*transform:translateX(0);*/
    opacity: 0;
    transform: scale(0);
    transition: all 500ms ease-in;
}

.expand-enter.expand-enter-active {
    /*transform: translateX(1000px);*/
    opacity: 1;
    transform: scale(1);
    transition: all 500ms ease-in;
}

.expand-leave {
    /*transform: translateX(-1000px);*/
    opacity: 1;
    transform: scale(1);
    transition: all 500ms ease-in;
}

.expand-leave.expand-leave-active {
    /*transform: translateX(0px);*/
    opacity: 0;
    transform: scale(0);
    transition: all 500ms ease-in;
}


@media screen and (max-width: 850px) {
    .cloudInfo__table > p {
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px) {
    .cloudInfo__table > p {
        margin-top: 25px;
    }
}


@media screen and (max-width: 500px) {
    .cloudInfo__table > p {
        margin-top: 15px;
    }
}

@media screen and (max-width: 400px) {
    .cloudInfo__table > p {
        margin-top: 10px;
    }
}