.fadeBackground {
    position: relative;
}

.fadeBackground__background {
    position:absolute;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.fadeBackground__background > img {
    position: absolute;
    left: -25vw;
    top: 0;
    width: 150vw;
    height: auto;
    display: block;
}

.fadeBackground__blackBackground {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-180deg, #B1B6FE 0%, #7A80FB 100%);
    border: 1px solid #979797;
}

@media screen and (min-width: 500px) {

    .fadeBackground__background {
        left: 0;
        width: 100vw;
    }
    
}

