.gallery {
    position: relative;
    margin: 50px;
    color: #42a5f5;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.gallery__detail {
    position: fixed;
    width: 100vw;
    height:100vh;
    top: 0px;
    left: -110vw;
    background-color: white;
    transition: all 2s;
    color: #42a5f5;
    box-shadow: 1px 1px 1px 1px black;
    z-index: 3000;
    overflow-y: auto;
}

.gallery__detail:hover{
    transform:scale(1.01);
}
.gallery__detail--show {
    left: 0;
}

.gallery__detail h1 {
    margin-top:0;
    text-align: center;
    font-size: 2em;
    color: #42a5f5;
}

.gallery__detail p {
    margin: 10px;
    color: #7a7a7a;
    line-height: 30px;
}

.gallery__detail span {
    border: solid;
    border-color: #42a5f5;
    text-align: center;
    margin: 10px;
    padding:5px;
    color: #42a5f5;
    line-height: 40px;
}


.gallery__detail a {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom:10px;
    width: 200px;
    border: 1px solid #7A80FB;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    font-family: 'Poppins', sans-serif;
    background: #42a5f5;
    display: block;
    transition:all 2s;
}

.gallery__detail a:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}


.gallery__detail__blocks {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.gallery__detail__block1 {
    position: relative;
    width: 500px;
    margin: auto;
    margin-bottom:10px;
    margin-top: 10px;
}
.gallery__detail__block2 {
    width: 500px;
    margin: auto;
    margin-top:10px;
}

.gallery__item {
    position: relative;
    z-index: 101;
    margin: 20px;
    height: 300px;
    width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    background-color: white;
    display: block;
    transition: all 1s;
    transform: scale(1);
}

.gallery__item:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 1px 1px black;
}

.gallery__item > h1 {
    position: relative;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.50);
    color: #7a7a7a;
}
.gallery__item > p {
    position: relative;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.50);
    color: #7a7a7a;
}

.gallery__item__pics {
    position: absolute;
    top: 0;
    width: auto;
    height: auto;
    display: block;
}

.gallery__item__pic {
    height:300px;
    width: auto;
    margin:auto;
    overflow-x: hidden;
    display: block;
}


.gallery__item__pic--margin {
    margin-top: 100px;
}


.gallery__item__pic--show{
    opacity:1;
    transition: all 0.5s;
}

.gallery__item__pic--hide {
    opacity: 0;
    transition: all 0.5s;
}

@media (max-width:1000px) {
    .gallery__detail__block2 {
        width: 600px;
        height: auto;
    }
    .gallery__detail__block1 {
        width: 600px;
        height: auto;
    }
}

@media (max-width:900px) {
    .gallery__item__pic {
        margin-top: 10px;
    }
}

@media (max-width:700px) {
    .gallery__detail {
        top: 0px;
    }
}
@media (max-width:500px) {
    
    .gallery {
        margin-left: 10px;
        margin-right: 10px;
    }
    .gallery__detail__block2 {
        width: 100%;
    }
    .gallery__item__pic--smaller{
        height:200px;
    }
}

