#picture {
  background-image: url("../sketch/meCircle.png");
  background-repeat: no-repeat;
  background-origin: center center;
  width:330px;
  height:330px;
  margin: auto;
  transform: scale(0.5);
  display: block;
}
main {
  scroll-behavior: smooth;
}
h1,h2,h3,h4 {
  // font-family: 'Staatliches', cursive;
  // padding: 5px;
  color: white;
}

i, p, span {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

.header {
  color: white;
  display: block;
  text-align: center;
  // padding-top: 10%;
  width: 100vw;
  height:100vh;
}

.demo-layout-transparent {
  background: url('../sketch/header.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.small-header {
  color: white;
  display: block;
}
