body {
  width: 100vw;
  height: 100vh;
  font: 100%;
  color: green;
  background-color: black;
}
.header {
  position: absolute;
  top: 0;
  left: 33.3%;
  width: 33.3%;
}
#canvas {
  position: absolute;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left:0;
  border: 0px;
  margin: 0px;
  padding: 0px;
}