.pieChart{
    position:relative;
    width:100%;
    height:100%;
}


.pieChart > form > label {
    font-family: 'Lobster', cursive;
    color:white;
    font-size:20px;
}




.label-text {
    alignment-baseline: middle;
    font-size: 12px;
    font-family: arial,helvetica,"sans-serif";
    fill: #393939;
}

.label-line {
    stroke-width: 1;
    stroke: #393939;
}

.label-circle {
    fill: #393939;
}