.pieChart{
    position:relative;
    width:100%;
    height:100%;
}


.pieChart > form > label {
    font-family: 'Lobster', cursive;
    color:white;
    font-size:20px;
}


.label-text {
    alignment-baseline: middle;
    font-size: 15px;
    font-family: 'Lobster', cursive;
    fill: white;
}

.label-line {
    stroke-width: 1;
    stroke: #393939;
}

.label-circle {
    fill: #393939;
}


@media (min-width:500px){

    .label-text {
        font-size: 20px;
    }
    
}