.process {
    position:relative;
    width: 100vw;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 15px;
    z-index:100;
}

.process__title {
    width:300px;
    height:300px;
    margin:auto;
    background-image:url(./assets/processCircle.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
}


.process__title > img {
    width: 250px;
    height:auto;
    margin:auto;
}


.process > h1 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #7a7a7a;
    text-decoration: underline;
    text-decoration-color: #7A80FB;
    font-size: 30px;
    padding-bottom: 20px;
}


.process__star{
    position:relative;
    display:inline-block;
    
}


.process__star > img {

}



.process__star > span {
    position:absolute;
    top:40%;
    left:35%;
}

.process__left {
    margin: auto;
    margin-right: 50px;
    margin-left: 50px;
}

.process__left > img{
    margin:auto;
    width:280px;
    display:block;
    
}


.process__right{
    width:500px;
    margin:5px;
    
}



.process__right > p {
    border: 0 solid #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #7c7c7c;
}



.process__item {
    background-image: radial-gradient(50% 100%, rgba(177,182,254,0.00) 50%, #E3E5FF 100%);
    border: 1px solid #000000;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.50);
    border-radius: 8px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    width:90%;
    margin:auto;
    margin-bottom:10px;
}

@media (max-width:600px){
    .process__right {
        width: 300px;
    }

}