.squares--left {
    transform: translateX(-1500px);
}

.squares--right {
    transform: translateX(1500px);
}

.squares {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    transform: translateX(0px);
    transition: all 1s;
    justify-content:center;
    width:95%;
    margin:auto;
}

@media screen and (max-width:500px){
}

@media screen and (max-width:400px) {

}

@media screen and (max-width:300px) {

}