/*Can't set scale here since it creates a new stacking context which will place the div under its neighbour.*/
.square {
    position: relative;
    width: 280px;
    height: 280px;
    margin: 20px;
    display: block;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.square:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    transform: scale(1.05);
}

.square > img:nth-child(0){
    position:absolute;
    left:10%;
    width:20%;
    top:80%;
    height:auto;
}


.square > img:nth-child(1) {
    position: absolute;
    left: 70%;
    width: 20%;
    top: 80%;
    height: auto;
}



.square__layer {
    position: absolute;
    opacity: 1;
    transform: translateY(0px);
    top: 0;
    left: 0;
    width: 280px;
    height: 280px;
    //background-image: url("./assets/square__background.svg");
    background-color: #42a5f5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 0;
}


.square__layer--moveUp {
    transform: translateY(-300px);
    box-shadow: 0 5px 15px rgba(0,0,0,1);
}


.square__layer--zIndex1 {
    z-index: 1;
}


.square__layer--zIndex2 {
    z-index: 2;
}


/*
    This is the main section tags
*/
.square__layer > img {
    margin: auto;
    margin-top:10px;
    width: 20%;
    height: 20%;
}

.square__layer > h1 {
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.50);
    font-size: 2em;
    color: white;
    transform: scale(1);
}


/*
    This is the section underneath main.
*/

.square__layer > h3 {
    font-family: 'Poppins', sans-serif;
  //  font-size: 25px;
    color: white;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.square__layer > h4 {
    font-family: 'Poppins', sans-serif;
  //  font-size: 17px;
    color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}



.square__list > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: white;
    transform: scale(1);
    transition: all 0.5s;
}



.square__list > ul {
    width: 90%;
    padding: 0;
    margin: auto;
    list-style-type: none;
    // font-size: 20px;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: block;
}

.square__list > ul > li {
    margin-top: 5px;
    margin-bottom:5px;
}

.square__list {
    position: absolute;
    padding: 10px;
    top: 0;
    //right: -100px;
    //left: -100px;
    //background-image: linear-gradient(-180deg, #D9DCFF 0%, #B1B6FE 63%);
    background-color:white;
    border: 1px solid #979797;
    box-shadow: inset 1px -1px 1px 1px rgba(0,0,0,0.50), inset -1px 1px 1px 1px rgba(0,0,0,0.50);
    z-index: 10000;
    width: 260px;
    //height:280px;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}

.square__list > h1, ul {
    color: #7a7a7a;
}

.square__list >  ul {
    color: #7a7a7a;
}

.square__list--show {
    transform: scale(1);
}

.square__layer > button {
    transform: scale(1);
    background: white;
    border: 1px solid #7A80FB;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
}


.square__layer > button:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}


.square__list > button {
    transform: scale(1);
    background: white;
    border: 1px solid #7A80FB;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.5s;
}


.square__list > button:hover {
    transform: scale(1.05);
}

@media (max-width:500px){
    .square__list {
        //right: -20px;
        //left: -20px;
        
    }
    .square__layer > h3 {
    //    font-size: 25px;
    }

    .square__layer > h4 {
    //    font-size: 20px;
    }
}