.start {
    width: 100vw;
    height:130vh;/**Need to set this for some reason*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: white;
}


.start__status {
    position: relative;
    margin-bottom: 50px;
    background-image: radial-gradient(50% 100%, rgba(177,182,254,0.00) 50%, #E3E5FF 100%);
    border: 1px solid #000000;
    border-radius: 8px;
}


.start__status span {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:10px;
}
.start__me{
    margin-bottom:10px;
}


.start > div {
    height: 200px; /**Why does height not resize with text?*/
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.start h1, h2, h3, h4, a, span, button {
    color: white;
    font-family: 'Lobster', cursive;
}

.start a {
    color:white;
    font-size:20px;
    background-color:transparent;
    transform:scale(1);
    transition:all 1s;
    margin:10px;
    display:block;
}


.start a:hover {
    transform: scale(1.2);
}


.start button {
    font-size: 15px;
    color: white;
    font-family: 'Lobster', cursive;
    margin:auto;
    display:block;
}



@media screen and (min-width: 500px) {

}
