.start {
    width: 100vw;
    height: 100vh;
    //background-image: linear-gradient(-180deg, #B1B6FE 0%, #7A80FB 100%);
    border: 1px solid #979797;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: white;
}

.start > div {
    height:200px; /**Why does height not resize with text?*/
    text-align:center;
    margin:auto;

}

.start h1, h2, h3, h4, a, span, button {
    color: white;
    font-family: 'Lobster', cursive;
}

.start a {
    color:darkred;
    font-size:15px;
    width:100px;
    height:50px;
    background-color:transparent;
    transform:scale(1);
    transition:all 1s;
}


.start a:hover {
    transform: scale(1.2);
}


@media screen and (min-width: 500px) {

}
