.start {
    width: 100vw;
    //display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: white;
    display:block;
}

.start__me {
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}



.start__me  > img{
    width: 200px;
    height:auto;
}


.start__welcome {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    display: block;
    margin-bottom: 10px;
}

.start__welcome > h1, .start__welcome > h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
}


.start__me > p {
    color: white;
    font-family: 'Poppins', sans-serif;
}
