.line {
    fill: none;
    stroke: black;
}


.line__close {
    stroke: orange;
}

.line__open {
    stroke: green;
}

.line__high {
    stroke: red;
}


.line__low {
    stroke: blue;
}

.text {
    font-size: 12px;
}

.text__open {
    fill: green;
}

.text__high {
    fill: red;
}

.text__low {
    fill: blue;
}

.text__close {
    fill: orange;
}



.axisWhite line {
    stroke: #7c7c7c;
}

.axisWhite path {
    stroke: #7c7c7c;
}

.axisWhite text {
    fill: #7c7c7c;
} 