#graph {
    width: 960px;
    height: 480px;
}

.line {
    fill: none;
    stroke: black;
}


.line__close {
    stroke: yellow;
}

.line__open {
    stroke: green;
}

.line__high {
    stroke: red;
}


.line__low {
    stroke: blue;
}


text {
    font-size: 0.5rem;
}
