@keyframes moveIn {
    0% {
        left: -100%;
    }

    100% {
        left: 5%;
    }
}

.work {
    text-align: center;
}

.work__header {
    position: fixed;
    top: 10%;
    width: 90%;
    left: 5%;
    height: 20vh;
    z-index: 100;
    margin: auto;
    opacity: 1;
    transition: opacity 2s;
    animation: moveIn 1s forwards;
}

.work h1 {
    font-size: 100px;
    color: white;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 5px 4px rgba(0,0,0,0.50);
}

.work h2 {
    font-size: 70px;
    color: white;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 5px 4px rgba(0,0,0,0.50);
}

.work h3 {
    text-align: start;
    margin: 30px;
    font-size: 50px;
    text-shadow: 5px 5px 4px rgba(0,0,0,0.50);
}

.work p {
    font-size: 30px;
    color: white;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 5px 4px rgba(0,0,0,0.50);
}


.work__gap {
    height: 150vh;
}


.work__websites {
    background-image: radial-gradient(50% 240%, rgba(0,19,231,0.00) 47%, rgba(255,27,4,0.30) 100%);
    border: 3px solid #000000;
    box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.50);
}




.work__site {
    width: 95%;
    margin: auto;
    padding: 5px;
    background-image: radial-gradient(50% 100%, rgba(177,182,254,0.00) 50%, #E3E5FF 100%);
    border: 1px solid #000000;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.50);
    border-radius: 8px;
    display: block;
}


.work__site > a > img {
    width: 200px;
    height: auto;
}


.work__site > a  {
    
    display:inline-block;
}




.work__problem {
    border:double;
    margin-bottom:10px;
}


.work__solution {
    border: double;
    margin-bottom: 10px;
}


.work__problem > h3 {
    color: red;
    text-shadow: 5px 5px 4px rgba(0,0,0,0.50);
}


.work__solution > h3 {
    color: blue;
    text-shadow: 5px 5px 4px rgba(0,0,0,0.50);
}



@media (max-width:700px) {


    .work h1 {
        font-size: 70px;
    }

    .work h2 {
        font-size: 50px;
    }
    .work h3 {
        font-size: 40px;
    }

    .work p {
        font-size: 20px;
    }


    
}
